{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"plugins": [
		"roblox-ts",
		"@typescript-eslint",
		"@typescript-eslint/eslint-plugin",
		"prettier"
	],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended",
		"plugin:roblox-ts/recommended"
	],
	"rules": {
		"prettier/prettier": [
			"warn",
			{
				"semi": true,
				"trailingComma": "all",
				"singleQuote": false,
				"printWidth": 120,
				"tabWidth": 4,
				"useTabs": true
			}
		],
		"@typescript-eslint/array-type": [
			"warn",
			{
				"default": "generic",
				"readonly": "generic"
			}
		],
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-member-accessibility": "error",
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/member-ordering": "error",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-namespace": "off",
		"@typescript-eslint/no-non-null-assertion": "error",
		"@typescript-eslint/no-require-imports": "error",
		"@typescript-eslint/consistent-type-assertions": [
			"error",
			{
				"assertionStyle": "never"
			}
		],
		"prefer-const": "warn",
		"no-undef-init": "error"
	}
}
